services:
  - type: web
    name: fillquiz-backend
    plan: free
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_ORIGIN
        sync: false
      - key: PORT
        value: 5000

  - type: web
    name: fillquiz-frontend
    plan: free
    runtime: node
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npx serve -s dist -l $PORT
    envVars:
      - key: VITE_BACKEND_URL
        fromService:
          type: web
          name: fillquiz-backend
          property: host
